{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_author_new' ? 'Ajout' : 'Édition' %}

{% block title %}{{ action }} d'auteur{% endblock %}

{% block body %}
<style>
    body {background-color: white;}
</style>

<div class="w-50 m-auto py-5 my-5">
    <h1>{{ action }} d'auteur</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.dateOfBirth) }}
    {{ form_row(form.dateOfDeath) }}
    {{ form_row(form.nationality) }}
    {{ form_row(form.books) }}
    {{ form_row(form.certification) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
    
</div>
{% endblock %}
